@import "../style/_variables.scss";

@mixin app__button {
  width: 100%;
  height: 5.6rem;
  font-size: 1.6rem;
  font-family: 'proxima_nova_altbold', sans-serif;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $col-primary;
  background-color: $btn-bg;

  &:hover {
    background-color: $btn-hover-bg;
  }

  &[disabled] {
    cursor: default;
    background-color: $btn-disabled-bg;
  }
}

@mixin respond-to($media) {
  @if $media == xsmall {
    @media only screen and (max-width: $x-small - 1px) {
      @content;
    }
  }
  @else if $media == small {
    @media only screen and (max-width: $small - 1px) {
      @content;
    }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $tablet - 1px) {
      @content;
    }
  }
  @else if $media == medium {
    @media only screen and (max-width: $medium) {
      @content;
    }
  }
  @else if $media == xmedium {
    @media only screen and (max-width: $x-medium - 1px) {
      @content;
    }
  }
  @else if $media == large {
    @media only screen and (max-width: $large - 1px) {
      @content;
    }
  }
  @else if $media == xlarge {
    @media only screen and (max-width: $x-large - 1px) {
      @content;
    }
  }
  @else {
    @media only screen and (max-width: $media) {
      @content;
    }
  }
}
