// displays
$x-large: 1920px;
$large: 1440px;
$x-medium: 1140px;

$medium: 1024px;
$media-small-desktop: 960px;
$tablet: 820px;

$small: 600px;
$x-small: 480px;

// colors
$_black: #000000;
$_white: #fff;
$_orange: #FF842B;
$_yellow: #FEC538;
$_dirtyYellow: #FFDA80;
$_green: #00CA14;
$_lightGreen: #01C120;
$_gray: #D2D2D2;
$_lightGray: #CDCDCD;
$_primaryGray: #E1E1E1;
$_dirtyGray: #D2D5DA;
$_greyBlue: #6C727F;
$_red: #FF0000;

// base colors:
$col-text: $_black;
$col-text-alt: $_orange;
$col-primary: $_white;
$col-safe-text: $_lightGreen;
$col-text-blur: rgba(0, 0, 0, 0.4);
$col-field-placeholder: $_greyBlue;

// backgrounds
$blur: rgba(0, 0, 0, 0.2);
$btn-bg: $_black;
$btn-hover-bg: $_green;
$btn-disabled-bg: $_gray;
$safe-block-bg: $_white;
$timer-bg: $_black;
$timer-line-bg: $_green;
$payment-window-bg: $_white;
$pay-pal-btn-bg: $_yellow;
$pay-pal-btn-hover-bg: $_dirtyYellow;
$google-btn-bg: $_white;
$google-btn-hover-bg: $_black;

// borders
$details-border: 0.1rem solid $_lightGray;
$safe-block-border: 0.1rem solid rgba(0, 0, 0, 0.2);
$timer-border: 0.2rem solid $_red;
$google-pay-btn-border: 0.1rem solid $_primaryGray;
$separator-lane-border: 0.2rem solid rgba(0, 0, 0, 0.1);
$field-border: 0.1rem solid $_dirtyGray;
