@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import 'variables';
@import './_mixins.scss';

@font-face {
  font-family: 'proxima_novaregular';
  src: url('../style/fonts/proximanova-regular-webfont.woff2') format('woff2'),
  url('../style/fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_altbold';
  src: url('../style/fonts/proxima_nova_alt_bold-webfont.woff2') format('woff2'),
  url('../style/fonts/proxima_nova_alt_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_altlight';
  src: url('../style/fonts/proxima_nova_alt_light-webfont.woff2') format('woff2'),
  url('../style/fonts/proxima_nova_alt_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_altthin';
  src: url('../style/fonts/proxima_nova_alt_thin-webfont.woff2') format('woff2'),
  url('../style/fonts/proxima_nova_alt_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novablack';
  src: url('../style/fonts/proxima_nova_black-webfont.woff2') format('woff2'),
  url('../style/fonts/proxima_nova_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novabold';
  src: url('../style/fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
  url('../style/fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novathin';
  src: url('../style/fonts/proxima_nova_thin-webfont.woff2') format('woff2'),
  url('../style/fonts/proxima_nova_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.app__button {
  @include app__button()
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: #fff;
}
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body,
input,
select,
button,
textarea {
  background: $col-primary;
  color: $col-primary;
  font-family: 'proxima_novaregular', sans-serif;
  font-weight: 400;
}

textarea,
button,
select,
input,
body,
span,
p {
  font-size: 1.4rem;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

body,
p,
li,
ul {
  color: $col-text;
}

input,
textarea {
  width: 100%;
}

html {
  font-size: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
