<template>
  <div class="card-data">
    <div class="card-data__card-number-wrp">
      <div class="card-data__field-label">
        {{ 'Card number' }}
      </div>
      <div class="card-data__field">
        <input
          class="card-data__card-number-input"
          type="text"
          placeholder="••••  ••••  ••••  ••••"
          maxlength="19"
          v-model="cardNumber"
          @input="onCardInput"
        >
        <Icon name="mastercard" />
      </div>
    </div>

    <div class="card-data__backside-wrp">
      <div class="card-data__backside-month-wrp">
        <div class="card-data__field-label">
          {{ 'Month' }}
        </div>
        <div class="card-data__field">
          <select
              class="card-data__field-select"
              v-model="month"
          >
            <option value="" disabled selected>
              {{ 'Select' }}
            </option>
            <option
              v-for="opt in months"
              :key="opt.value"
              :value="opt.value"
            >
              {{ opt.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="card-data__backside-year-wrp">
        <div class="card-data__field-label">
          {{ 'Year' }}
        </div>
        <div class="card-data__field">
          <select
              class="card-data__field-select"
              v-model="year"
          >
            <option value="" disabled selected>
              {{ 'Select' }}
            </option>
            <option
              v-for="opt in years"
              :key="opt.value"
              :value="opt.value"
            >
              {{ opt.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="card-data__backside-cvc-wrp">
        <div class="card-data__field-label">
          {{ 'CVC' }}
        </div>
        <div class="card-data__field">
          <input
              class="card-data__card-number-input"
              type="password"
              placeholder="•••"
              v-model="CVC"
              maxlength="3"
              @input="onInputCVC"
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, watchEffect } from 'vue';
import { months } from '@/js/consts/month.const';
import { years } from '@/js/consts/years.const';
import Icon from '@/common/Icon';

export default {
  components: { Icon, },
  emits: ['change-valid'],

  setup(props, {emit}) {
    const cardNumber = ref('');
    const cardNumberArray = ref('');
    const month = ref('');
    const year = ref('');
    const CVC = ref('');

    const onCardInput = () => {
      cardNumber.value = cardNumber.value.replace(/\D/g, '');
      if (cardNumber.value.length > 16) {
        cardNumber.value = cardNumber.value.slice(0, 16)
      }
      if (cardNumber.value.length > 4) {
        cardNumberArray.value = cardNumber.value.split('')
        let lastItem = cardNumberArray.value[4]
        cardNumberArray.value.splice(4, 1, ` ${lastItem}`)
        cardNumber.value = cardNumberArray.value.join('')
      }
      if (cardNumber.value.length > 9) {
        cardNumberArray.value = cardNumber.value.split('')
        let lastItem = cardNumberArray.value[9]
        cardNumberArray.value.splice(9, 1, ` ${lastItem}`)
        cardNumber.value = cardNumberArray.value.join('')
      }
      if (cardNumber.value.length > 14) {
        cardNumberArray.value = cardNumber.value.split('')
        let lastItem = cardNumberArray.value[14]
        cardNumberArray.value.splice(14, 1, ` ${lastItem}`)
        cardNumber.value = cardNumberArray.value.join('')
      }
    };

    const onInputCVC = () => {
      event.target.value = event.target.value.replace(/\D/g, '')
    };

    watchEffect(() => {
      emit('change-valid', cardNumber.value.length === 19 && month.value && year.value && CVC.value.length === 3);
    });

    return {
      cardNumber,
      month,
      year,
      months,
      years,
      CVC,
      onInputCVC,
      onCardInput,
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style/_variables.scss";
@import "../../style/_mixins.scss";

.card-data {
  &__card-number {
    &-wrp {
      width: 100%;
    }
    &-input {
      border: none;
      font-size: 1.4rem;
      color: $col-text;

      &::placeholder {
        color: $col-field-placeholder;
        font-size: 1.4rem;
      }
    }
  }

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    border-radius: 0.8rem;
    border: $field-border;

    &-label {
      background-color: $safe-block-bg;
      padding: 0 0.5rem;
      font-size: 1.2rem;
      font-family: 'proxima_novabold', sans-serif;
      width: fit-content;
      position: relative;
      left: 1rem;
      top: 1rem;
    }

    &-select {
      border: none;
      font-size: 1.4rem;
      color: $col-text;
      width: 100%;
    }
  }

  &__backside {
    &-wrp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.4rem;
    }

    &-month-wrp,
    &-cvc-wrp,
    &-year-wrp {
      width: 11.6rem;
      @include respond-to($tablet) {
        width: 9.5rem;
      }
    }
  }
}
</style>
