<template>
  <div class="details">
    <div class="details__asteroid-wrp">
      <div class="details__asteroid">
        <Icon name="asteroid" />
      </div>
    </div>

    <div class="details__price">
      <DetailsPrice />
    </div>

    <div class="details__conditions-wrp">
      <div class="details__condition">
        <div class="details__condition-icon-wrp">
          <Icon name="star"/>
        </div>
        <span class="details__condition-text">
          {{ 'Exclusive access to' }}
        </span>
        <span class="details__condition-text-orange">
          &nbsp{{ '350+' }}&nbsp
        </span>
        <span class="details__condition-text">
          {{ 'learning programs' }}
        </span>
      </div>

      <div class="details__condition">
        <div class="details__condition-icon-wrp">
          <Icon name="star"/>
        </div>
        <span class="details__condition-text">
          {{ 'Personalized course plan' }}
        </span>
      </div>

      <div class="details__condition">
        <div class="details__condition-icon-wrp">
          <Icon name="star"/>
        </div>
        <span class="details__condition-text">
          {{ 'Comfy learning schedule made by you' }}
        </span>
      </div>

      <div class="details__condition">
        <div class="details__condition-icon-wrp">
          <Icon name="star"/>
        </div>
        <span class="details__condition-text-orange">
          {{ '24/7' }}&nbsp
        </span>
        <span class="details__condition-text">
          {{ 'tutor support in a secure chat' }}
        </span>
      </div>

      <div class="details__condition">
        <div class="details__condition-icon-wrp">
          <Icon name="star"/>
        </div>
        <span class="details__condition-text">
          {{ 'Lifetime access to materials' }}
        </span>
      </div>
    </div>

    <div class="details__safe-wrp">
      <Icon name="safe" />
      <span class="details__safe">
        {{ 'Safe & secure payment' }}
      </span>
    </div>

    <div class="details__description-wrp">
      <span class="details__description">
        {{ "$0.99 charged today. If you don't cancel at least 24 hours before the end of the 3-day trial period, you will automatically be charged the full price of $19.99/Month . You can cancel your subscription at any time. By continuing, you indicate that you've read and agree to our Terms & Conditions, Privacy Policy , Money Back , and Subscription Terms ." }}
      </span>
    </div>
  </div>
</template>

<script>
import Icon from '@/common/Icon';
import DetailsPrice from '@/components/DetailsPrice';

export default {
  components: { Icon, DetailsPrice }
}
</script>

<style lang="scss" scoped>
@import "../../style/_variables.scss";
@import "../../style/_mixins.scss";

.details {
  border-radius: 2.4rem;
  border: $details-border;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.06);
  padding: 2.4rem;
  width: 47.5rem;

  @include respond-to($tablet) {
    border: none;
    padding: 2.4rem 0;
    margin-top: 0.8rem;
    width: 100%;
    box-shadow: none;
  }

  &__price {
    @include respond-to($tablet) {
      display: none;
    }
  }

  &__asteroid {
    position: absolute;
    top: 5.5rem;
    &-wrp {
      width: 100%;
      justify-content: end;
      display: flex;

      @include respond-to($tablet) {
        display: none;
      }
    }
  }

  &__condition {
    display: flex;
    padding: 0.5rem 0;
    &-icon-wrp {
      padding-right: 1rem;
    }
    &-text {
      font-size: 1.6rem;

      &-orange {
        font-size: 1.6rem;
        color: $col-text-alt;
        font-family: 'proxima_nova_altbold', sans-serif;
      }
    }
  }

  &__safe {
    color: $col-safe-text;
    font-size: 1.6rem;
    margin-left: 0.8rem;

    &-wrp {
      width: 100%;
      height: 5.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $safe-block-bg;
      border: $safe-block-border;
      border-radius: 1.2rem;
      margin: 1.9rem 0;
      backdrop-filter: contrast(0.5);
    }
  }

  &__description {
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.5;
    width: 100%;
    display: flex;

    &-wrp {
      padding-top: 0.5rem;
      width: 100%;
    }
  }
}
</style>
