<template>
  <div
      class="details-price"
      :class="{ centre: isHide }"
  >
    <div class="details-price__price-wrp">
      <div class="details-price__price-header-wrp">
        <h2 class="details-price__price-header">
          {{ '3-day trial for' }}&nbsp
        </h2>
        <h2 class="details-price__price-header-orange">
          {{ '$0.99' }}
        </h2>
      </div>

      <div
          class="details-price__price-then-wrp"
          :class="{ centre: isHide }"
      >
        <span class="details-price__price-then">
          {{ 'Then' }}&nbsp
        </span>
        <span class="details-price__price-then">
          {{ price }}
        </span>
      </div>

      <div
          class="details-price__price-bonus-wrp"
          :class="{ hide: isHide }"
      >
        <span class="details-price__price-bonus">
          {{ '$39.99/week' }}
        </span>
      </div>
    </div>

    <div
        class="details-price__timer-wrp"
        :class="{ low: lowTime, hide: isHide }"
    >
      <div
          class="details-price__timer-line"
          :style="{ width: percentWidth + 'rem' }"
      />
      <div class="details-price__timer-time-wrp">
        <span class="details-price__timer-time">
          {{ '0'+ minutes + ':' + secondsLeft }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, computed, watch } from 'vue';

export default {
  setup() {
    const price = ref('$9.99');

    const minutes = ref(3);
    const seconds = ref(60);

    const displayWidth = window.screen.width;

    const secondsLeft = computed(() => {
      if (+seconds.value === 60) return '00';
      return seconds.value.toString().length < 2
          ? '0' + +seconds.value
          : seconds.value
    });

    const lowTime = computed(() => {
      return minutes.value === 0 && +seconds.value <= 10;
    });

    const timeCount = ref(180);
    const percentWidth = computed(() => {
      const multiplier = displayWidth > 820 ? 0.16 : 0.11;
      return (timeCount.value / 1.8) * multiplier;
    });

    const isHide = ref(false);

    const timeDecrement = () => {
      timeCount.value -= 1;
      if (+seconds.value === 0) seconds.value = 60;
      seconds.value = +seconds.value - 1;
      if (seconds.value === 59 && +minutes.value > 0) minutes.value = +minutes.value -1
    };
    setInterval(timeDecrement, 1000);
    watch(timeCount, () => {
      if (timeCount.value === 0) {
        isHide.value = true;
        clearInterval();
      }
    });

    return {
      price,
      minutes,
      secondsLeft,
      lowTime,
      percentWidth,
      isHide
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style/_variables.scss";
@import "../../style/_mixins.scss";

.details-price {
  display: flex;
  justify-content: space-between;

  @include respond-to($tablet) {
    width: 100%;
    border: $details-border;
    background-color: $safe-block-bg;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.06);
    border-radius: 1.2rem;
    padding: 1.2rem 1.6rem;
    backdrop-filter: contrast(0.5);

    &.centre {
      justify-content: center;
    }
  }

  &__price {
    &-header {
      font-size: 2.4rem;
      font-family: 'proxima_novablack', sans-serif;

      @include respond-to($tablet) {
        font-size: 1.8rem;
      }

      &-wrp {
        display: flex;
      }
      &-orange {
        font-size: 2.4rem;
        font-family: 'proxima_novablack', sans-serif;
        color: $col-text-alt;

        @include respond-to($tablet) {
          font-size: 1.8rem;
        }
      }
    }
    &-then {
      font-size: 2rem;
      font-family: 'proxima_novabold', sans-serif;

      @include respond-to($tablet) {
        font-size: 1.6rem;
      }
      &-wrp {
        display: flex;

        @include respond-to($tablet) {
          &.centre {
            justify-content: center;
          }
        }
      }
    }
    &-bonus {
      font-size: 1.6rem;
      font-family: 'proxima_nova_altbold', sans-serif;
      opacity: 0.4;
      text-decoration: line-through;

      @include respond-to($tablet) {
        font-size: 1.4rem;
      }

      &-wrp {
        padding-bottom: 1.9rem;

        &.hide {
          display: none;
        }

        @include respond-to($tablet) {
          padding: 0;
        }
      }
    }
  }

  &__timer {
    &-wrp {
      width: 16rem;
      height: 6rem;
      display: flex;
      background-color: $timer-bg;
      border-radius: 1.2rem;
      align-items: center;

      @include respond-to($tablet) {
        width: 11rem;
        height: 4.7rem;
      }

      &.low {
        border: $timer-border;
      }

      &.hide {
        display: none;
      }
    }
    &-line {
      position: absolute;
      border-radius: 1.2rem;
      background-color: $timer-line-bg;
      height: 6rem;
      z-index: 1;

      @include respond-to($tablet) {
        height: 4.7rem;
      }
    }
    &-time {
      font-size: 2.4rem;
      color: $col-primary;
      width: 100%;
      &-wrp {
        position: absolute;
        z-index: 2;
        width: 6.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(80%);

        @include respond-to($tablet) {
          transform: translateX(40%);
        }
      }
    }
  }
}
</style>
