<template>
  <header class="header">
    <Icon name="logo" />

    <div class="header__name-wrp">
      <LogoName />
    </div>
  </header>
</template>

<script>
import Icon from '@/common/Icon';
import LogoName from '@/common/LogoName';

export default {
  components: { Icon, LogoName },
}
</script>

<style lang="scss" scoped>
@import "../../style/_variables.scss";
@import "../../style/_mixins.scss";

.header {
  display: flex;
  align-items: center;
  padding: 0 13.5rem;
  height: 5.6rem;

  @include respond-to($tablet) {
    padding: 0 2rem;
  }

  &__name-wrp {
    margin-left: 0.8rem;
  }
}
</style>
