<template>
  <div class="payment">
    <div class="payment__window">
      <h2 class="payment__window-header">
        {{ 'Payment method' }}
      </h2>

      <div class="payment__window-buttons">
        <button
          type="button"
          class="payment__window-pay-pal-btn"
        >
          <Icon name="payPalBtn"/>
          <span class="payment__window-pay-pal">
            {{ 'Buy now'.toUpperCase() }}
          </span>
        </button>

        <button
          type="button"
          class="payment__window-google-pay-btn"
        >
          <Icon name="googlePayBtn"/>
          <span class="payment__window-google-pay">
            {{ 'pay'.toUpperCase() }}
          </span>
        </button>
      </div>

      <div class="payment__window-separator-wrp">
        <div class="payment__window-separator-lane"/>
        <span class="payment__window-separator">
          {{ 'OR' }}
        </span>
        <div class="payment__window-separator-lane"/>
      </div>

      <CardData
        @change-valid="changeValid"
      />

      <div class="payment__window-buttons">
        <div class="payment__window-confirm-btn-wrp">
          <button
              class="app__button"
              type="button"
              :disabled="!isValid"
          >
            {{ 'Submit' }}
          </button>
        </div>

        <div class="payment__window-close-btn-wrp">
          <button
              type="button"
              class="payment__window-close-btn"
              @click="closePayment"
          >
            {{ 'Close' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';
import Icon from '@/common/Icon';
import CardData from '@/components/CardData';

export default {
  components: { Icon, CardData },
  emits: ['close-payment'],

  setup (props, {emit}) {
    const isValid = ref(false);

    const changeValid = (newIsValid) => {
      isValid.value = newIsValid;
    };

    const closePayment = () => emit('close-payment');

    return { isValid, changeValid, closePayment }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style/_variables.scss";
@import "../../style/_mixins.scss";

.payment {
  background-color: $blur;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1000;

  &__window {
    background-color: $payment-window-bg;
    width: 40rem;
    margin: auto;
    border-radius: 1.2rem;
    box-shadow: 0 0 0 0.4rem rgba(0, 0, 0, 0.05);
    padding: 2.4rem 1.6rem;

    @include respond-to($tablet) {
      width: 33.6rem;
    }

    &-confirm-btn-wrp {
      width: 30rem;
      margin: auto;
      padding: 4rem 0 2.2rem 0;
    }

    &-close-btn {
      color: rgba(0, 0, 0, 0.4);
      font-size: 1.6rem;
      font-family: 'proxima_novabold', sans-serif;

      &:hover {
        color: $col-text;
      }

      &-wrp {
        display: flex;
        justify-content: center;
      }
    }

    &-header {
      font-size: 2.1rem;
      font-family: 'proxima_novablack', sans-serif;
      padding-bottom: 2.4rem;
      text-align: center;
    }

    &-pay-pal {
      font-size: 1.6rem;
      font-family: 'proxima_novabold', sans-serif;
      padding-left: 1rem;

      &-btn {
        width: 100%;
        border-radius: 1.2rem;
        height: 5.6rem;
        background-color: $pay-pal-btn-bg;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: $pay-pal-btn-hover-bg;
        }
      }
    }

    &-google-pay {
      font-family: 'DM Sans', sans-serif;
      font-size: 1.6rem;
      padding-left: 1rem;

      &-btn {
        margin-top: 1.6rem;
        width: 100%;
        border-radius: 1.2rem;
        height: 5.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $google-btn-bg;
        border: $google-pay-btn-border;

        &:hover {
          background-color: $google-btn-hover-bg;
          border: none;

          & span {
            color: $col-primary;
          }
        }
      }
    }

    &-separator {
      font-size: 1.2rem;
      font-family: 'proxima_novabold', sans-serif;
      color: $col-text-blur;

      &-wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.6rem;
      }
      &-lane {
        width: 16.75rem;
        border-radius: 0.8rem;
        border: $separator-lane-border;

        @include respond-to($tablet) {
          width: 13.55rem;
        }
      }
    }
  }
}
</style>
