<template>
  <div class="plan">
    <h2 class="plan__header">
      {{ 'Start your learning journey now' }}
    </h2>

    <div class="plan__description-wrp">
      <span class="plan__description">
        {{ 'Get a' }}
      </span>
      &nbsp<LogoName />&nbsp
      <span class="plan__description">
        {{ 'plan to rock self-learning' }}
      </span>
    </div>

    <div class="plan__btn-wrp">
      <button
        class="app__button"
        type="button"
        @click="openPayment"
      >
        {{ 'Get my plan' }}
      </button>
    </div>
  </div>
</template>

<script>
import LogoName from '@/common/LogoName';

export default {
  components: { LogoName },
  emits: ['open-payment'],

  setup (props, {emit}) {
    const openPayment = () => emit('open-payment');

    return { openPayment }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style/_mixins.scss";
@import "../../style/_variables.scss";

.plan {
  width: 47rem;

  @include respond-to($tablet) {
    width: 100%;
  }
  &__header {
    font-size: 4.8rem;
    font-family: 'proxima_novablack', sans-serif;
    margin-bottom: 2.4rem;

    @include respond-to($tablet) {
      font-size: 3.2rem;
      margin-bottom: 1.5rem;
    }
  }

  &__description {
    font-size: 2.4rem;
    font-family: 'proxima_novabold', sans-serif;

    &-wrp {
      display: flex;
      flex-wrap: wrap;
    }

    &-logo {
      font-size: 2.4rem;
      font-family: 'proxima_novablack', sans-serif;
    }
  }

  &__btn-wrp {
    padding-top: 3.2rem;
    width: 27.3rem;

    @include respond-to($tablet) {
      width: 100%;
    }
  }
}
</style>
