<template>
  <div class="app">
    <Header />
    <div class="app__background"/>
    <Payment
        v-if="isShowPayment"
        @close-payment="closePayment"
    />
    <div class="app__content">
      <div class="app__content-price-mobile">
        <DetailsPrice />
      </div>
      <Plan @open-payment="openPayment"/>
      <Details />
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';
import Header from '@/components/Header';
import Plan from '@/components/Plan';
import Details from '@/components/Details';
import DetailsPrice from '@/components/DetailsPrice';
import Payment from '@/components/Payment';

export default {
  components: {
    Header,
    Plan,
    Details,
    DetailsPrice,
    Payment,
  },

  setup () {
    const isShowPayment = ref(false);

    const openPayment = () => isShowPayment.value = true;
    const closePayment = () => isShowPayment.value = false;

    return { isShowPayment, openPayment, closePayment }
  }
}
</script>

<style lang="scss">
@import "../style/app.scss";
@import "../style/variables";
@import "../style/_mixins.scss";

.app {
  width: 100%;
  min-height: 100vh;
  font-family: 'proxima_novaregular', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: hidden;

  &__background {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/background.png");
    background-repeat: round;
    opacity: 0.04;
    position: fixed;

    @include respond-to($tablet) {
      background-repeat: repeat;
    }
  }

  &__content {
    width: 97rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 5.5rem;
    position: static;
    z-index: 100;

    @include respond-to($tablet) {
      flex-direction: column;
      justify-content: normal;
      padding: 2.4rem 2rem;
      width: 100%;
    }

    &-price-mobile {
      display: none;

      @include respond-to($tablet) {
        display: flex;
        margin-bottom: 2.4rem;
      }
    }
  }
}
</style>
