<template>
  <svg
      v-if="name === 'logo'"
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none"
  >
    <circle
        cx="20"
        cy="20"
        r="16"
        fill="#FF842B"
    />
    <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M20.874 25.3558C30.309 23.7876 37.5009 19.7144 36.9375 16.2581C36.8667 15.8233 36.6764 15.419 36.3792 15.0475C37.799 15.7543 38.6825 16.6713 38.8611 17.7674C39.4761 21.5402 31.5065 26.0063 21.0607 27.7425C10.6148 29.4787 1.64827 27.8277 1.03332 24.0549C0.823846 22.7696 1.6105 21.404 3.15185 20.0932C2.80924 20.7156 2.67242 21.3357 2.77045 21.9372C3.33379 25.3934 11.439 26.924 20.874 25.3558Z"
        fill="black"
    />
  </svg>

  <svg
      v-if="name === 'asteroid'"
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      width="200"
      height="80"
      viewBox="0 0 200 80"
      fill="none"
  >
    <path d="M15.0903 46.2803C14.755 39.8798 17.6054 25.6019 31.6896 19.6938C45.7738 13.7856 65.0558 12.6368 72.9363 12.8009C70.9242 14.278 66.7996 17.3305 66.3972 17.7244C65.9947 18.1183 67.2355 18.545 67.9062 18.7091C73.1039 18.0526 84.3042 16.8382 87.5235 17.232C91.5475 17.7244 103.117 12.801 109.153 13.2933C113.982 13.6872 115.86 14.1139 116.195 14.278C112.171 14.4421 103.217 16.1489 99.5957 21.6631C99.5957 22.1555 121.225 20.1861 129.273 17.232C137.321 14.278 151.908 11.8163 161.466 15.755C156.1 16.0832 144.263 17.7244 139.836 21.6631C134.303 26.5866 126.255 32.4947 120.219 36.9258C115.39 40.4706 104.458 42.0133 99.5957 42.3415C102.614 43.3262 109.958 45.3941 115.189 45.788C120.42 46.1818 123.069 46.9368 123.74 47.265C120.554 47.1009 112.573 47.3634 106.135 49.7267C99.6963 52.0899 90.3739 52.6808 86.5175 52.6808C87.747 53.7505 90.6464 55.7573 93.8549 56.677C94.7703 56.7722 95.5182 56.9303 96.0746 57.1118C95.3294 57.0389 94.5842 56.886 93.8549 56.677C89.805 56.2559 82.476 57.0662 73.9423 62.5276C60.8641 70.8975 35.2107 74.3439 25.1505 67.9434C17.1024 62.823 15.0903 51.3678 15.0903 46.2803Z" fill="#FF842B" stroke="black"/>
    <path d="M39.2344 27.5713C35.7134 25.1095 32.6953 27.0789 28.1682 31.51C25.4803 33.9717 27.1622 38.8952 27.1622 39.8798C27.1622 40.8645 21.6291 40.8645 21.1261 47.265C20.6231 53.6655 28.1682 52.6808 28.1682 54.1578C29.3755 60.0659 34.372 61.8712 36.7194 62.0353C34.7073 62.6918 38.7314 66.4664 41.7494 67.4511C49.7976 70.0769 55.4983 63.6764 56.8397 60.0659C57.678 60.0659 60.2601 59.2782 63.8818 56.1272C67.5034 52.9762 64.0495 48.9061 61.8698 47.265C62.5404 47.1009 64.4854 46.2803 66.8998 44.3109C69.9179 41.8492 67.9058 37.9105 66.3968 35.9411C64.8878 33.9717 64.3848 33.4794 63.8818 29.0483C63.3788 24.6172 57.3427 24.6172 55.3307 25.1095C53.3186 25.6019 51.8096 22.6478 46.7795 22.6478C41.7494 22.6478 42.7555 30.033 39.2344 27.5713Z" fill="#FFE600"/>
    <path d="M55.2077 27.4936C53.4443 24.7653 50.6189 22.334 47.092 23.2991C43.3944 24.3013 42.4842 27.902 42.105 31.1685C41.9912 32.1893 40.3605 32.0965 40.2846 31.0943C39.602 21.4988 52.3066 17.9167 56.1748 27.0111C56.4024 27.5679 55.5491 28.0133 55.2267 27.4936H55.2077Z" fill="#3A3A3A"/>
    <path d="M41.5741 32.7462C40.6639 32.0966 39.5072 31.5954 38.5022 32.3007C37.4403 33.0246 37.2887 34.4537 36.1509 35.0662C35.8096 35.2518 35.3545 35.1775 35.2028 34.7692C34.5392 33.0431 36.3595 30.9458 37.8765 30.222C39.6589 29.3682 41.4603 30.055 42.8256 31.317C43.7357 32.1522 42.5791 33.4514 41.593 32.7462H41.5741Z" fill="#3A3A3A"/>
    <path d="M40.1142 28.4031C38.3508 27.9762 37.0045 27.0482 35.0893 27.3452C32.9466 27.6792 31.0314 28.997 29.6661 30.5932C28.3198 32.1708 27.4097 34.1381 27.2959 36.1983C27.1821 38.4441 28.6043 39.966 28.9267 42.0447C29.0025 42.5644 28.3957 42.9541 27.9406 42.7314C25.7031 41.6364 25.0963 38.2213 25.2669 35.9941C25.4376 33.4514 26.6323 31.0201 28.3957 29.1455C30.8987 26.4914 38.0853 23.1692 40.5693 27.7349C40.74 28.0319 40.5503 28.5144 40.1332 28.4216L40.1142 28.4031Z" fill="#3A3A3A"/>
    <path d="M30.1212 40.6156C29.9506 41.191 29.7231 41.7849 29.6282 42.3788C29.5334 42.8614 29.6851 43.344 29.5714 43.808C29.4576 44.1977 29.0783 44.3276 28.718 44.1049C27.5803 43.3625 28.5474 41.1724 28.9456 40.2444C29.211 39.6134 30.3298 39.9475 30.1212 40.6156Z" fill="#3A3A3A"/>
    <path d="M27.0494 40.8012C24.3378 42.119 22.1762 44.6617 22.29 47.7427C22.4417 51.4547 25.7979 52.6239 29.0594 52.8838C30.1023 52.958 30.0265 54.6841 28.9836 54.6841C24.8498 54.6656 20.7919 52.5497 20.4696 48.1324C20.1851 44.3276 22.8967 40.6527 26.6322 39.7247C27.3718 39.5391 27.7131 40.4671 27.0305 40.8012H27.0494Z" fill="#3A3A3A"/>
    <path d="M29.8748 51.3062C28.8698 54.5728 28.756 57.6538 32.1312 59.584C35.2031 61.3472 38.5783 60.6234 41.4416 58.8602C42.4845 58.2291 43.4326 59.6026 42.5224 60.3821C39.261 63.129 34.1412 63.2774 30.6143 60.9203C27.1632 58.6189 26.1961 54.1088 28.5853 50.7123C28.9835 50.1369 30.0834 50.6195 29.8748 51.3062Z" fill="#3A3A3A"/>
    <path d="M37.1941 60.9388C38.2749 65.5046 41.1193 67.6576 46.0494 66.9894C51.2071 66.2841 54.9994 62.832 56.0234 57.8579C56.2889 56.5772 58.1851 56.9299 58.0334 58.2105C57.3128 64.3168 51.5863 68.5856 45.5374 69.031C40.8348 69.3836 34.7859 66.5811 35.9995 61.0502C36.1133 60.512 37.0614 60.3078 37.2131 60.9388H37.1941Z" fill="#3A3A3A"/>
    <path d="M54.6959 24.4684C57.2179 22.7608 60.3845 23.3919 62.6031 25.3964C64.5182 27.141 66.5851 31.5954 64.2907 33.7855C63.8546 34.1938 63.2099 33.9897 63.0961 33.4143C62.8686 32.2636 63.3805 31.1314 63.153 29.925C62.9254 28.7186 62.2997 27.605 61.4085 26.7512C59.7967 25.2108 57.3885 24.6725 55.2648 25.5263C54.6011 25.8047 54.1081 24.8396 54.6959 24.4498V24.4684Z" fill="#3A3A3A"/>
    <path d="M60.0242 31.2985C65.2198 30.686 69.1449 35.1404 69.2208 39.9846C69.2966 44.1791 64.7078 50.4895 59.7777 48.2067C59.3415 48.0025 59.2088 47.2972 59.6829 47.0374C61.5222 46.0537 63.6459 46.3135 65.2766 44.7731C66.604 43.511 67.2108 41.6921 67.1918 39.9289C67.1539 35.6972 64.101 33.0803 59.9673 32.8761C59.0192 32.8204 59.1519 31.3913 60.0242 31.2985Z" fill="#3A3A3A"/>
    <path d="M63.0014 47.3157C65.9595 48.6706 66.9076 52.197 65.7698 55.0553C64.4046 58.5074 60.7259 60.6975 57.0852 61.1058C55.701 61.2543 55.5682 59.2869 56.8766 59.0271C59.6261 58.4889 62.3377 57.2268 63.684 54.6469C65.0303 52.0671 63.8926 50.2296 62.2239 48.188C61.8257 47.7055 62.4515 47.0744 62.9824 47.3157H63.0014Z" fill="#3A3A3A"/>
    <path d="M54.582 32.2636C56.7816 33.2287 58.4503 35.1961 58.0711 37.6646C57.7297 39.9289 55.606 42.3046 53.2168 42.5087C52.5152 42.5644 52.2686 41.7292 52.7616 41.3209C54.1269 40.2073 55.7767 39.6505 56.3645 37.8316C56.9902 35.8828 55.6439 34.3423 54.0511 33.3586C53.4064 32.9503 53.8425 31.9295 54.582 32.2636Z" fill="#3A3A3A"/>
    <path d="M58.0141 44.309C59.1897 45.3298 59.7775 46.5548 59.4931 48.1138C59.2276 49.58 58.2985 51.0463 56.8953 51.6588C56.4402 51.8629 56.061 51.3432 56.2316 50.9535C56.6488 49.9884 57.4452 49.2645 57.8055 48.2623C58.2226 47.1301 57.8434 46.0351 57.1608 45.07C56.7815 44.5503 57.5211 43.8636 58.0141 44.309Z" fill="#3A3A3A"/>
    <path d="M39.0899 42.5087C38.4073 44.3647 37.9522 46.1094 39.2226 47.8726C40.4741 49.5986 42.2186 49.5058 44.02 50.2482C44.551 50.471 44.3993 51.1206 43.9632 51.3433C41.6498 52.4754 38.6917 50.471 37.535 48.5593C36.3025 46.5362 36.2266 43.5666 38.0659 41.8591C38.5779 41.3765 39.3364 41.8591 39.0899 42.5087Z" fill="#3A3A3A"/>
    <path d="M52.8376 48.3923C52.5911 49.3203 52.1929 50.0441 51.3965 50.638C50.7138 51.1392 49.7089 51.6403 48.9504 51.0835C48.6849 50.8979 48.7229 50.5452 48.8935 50.304C49.2538 49.8028 49.8985 49.8028 50.4105 49.4688C50.9414 49.1161 51.3965 48.5779 51.6999 48.0396C52.0033 47.4828 53.0272 47.7241 52.8376 48.3923Z" fill="#3A3A3A"/>
    <path d="M52.8948 57.8578C52.4776 59.2313 51.8519 60.1778 50.4676 60.7903C49.2162 61.3471 47.5285 61.5513 46.2581 60.9388C45.8788 60.7532 45.8599 60.1407 46.296 60.0108C47.301 59.6953 48.3818 59.8252 49.3868 59.5097C50.3918 59.2127 51.2641 58.4146 51.7192 57.4866C52.0036 56.8927 53.0844 57.1711 52.8758 57.8578H52.8948Z" fill="#3A3A3A"/>
    <path d="M49.2351 37.182C47.0734 36.1426 45.0635 36.718 42.788 36.7366C42.3709 36.7366 41.9916 36.1241 42.4657 35.8828C44.9118 34.6207 47.6612 34.4351 49.9746 36.0498C50.6193 36.4953 49.9178 37.5161 49.2351 37.182Z" fill="#3A3A3A"/>
    <path d="M72.5773 13.1468C60.3279 14.1119 47.0734 13.7964 35.5824 18.6034C22.4986 24.0786 12.9986 37.4604 16.0135 51.6217C22.8209 83.6934 62.8878 67.4349 82.1532 58.0992C82.7031 57.8208 83.1771 58.7302 82.6651 59.0457C63.229 70.8685 21.3419 85.0112 14.1743 52.16C11.7471 41.0425 16.6962 29.758 25.4756 22.6124C38.5974 11.9404 56.5355 13.1282 72.5205 12.3302C73.0514 12.3116 73.1462 13.1097 72.5963 13.1468H72.5773Z" fill="#3A3A3A"/>
    <path d="M73.9613 13.685C71.4963 14.9286 69.2019 16.2649 66.9454 17.8239C66.5472 18.1023 66.0732 17.5826 66.3765 17.2114C68.1779 15.0214 70.9843 13.7593 73.5631 12.6271C74.2458 12.3302 74.606 13.351 73.9613 13.685Z" fill="#3A3A3A"/>
    <path d="M67.571 18.158C76.3694 16.1164 85.2057 17.3784 94.1368 15.1512C101.646 13.2767 108.567 11.3464 116.228 13.685C116.853 13.8706 116.721 14.8357 116.038 14.6872C106.633 12.7384 98.8773 15.6152 89.8324 17.5455C82.4752 19.1231 75.0989 17.6012 67.7417 18.8818C67.3245 18.956 67.1539 18.2508 67.571 18.158Z" fill="#3A3A3A"/>
    <path d="M116.19 14.6872C112.815 14.8172 101.646 18.3436 100.11 22.2597C99.8256 22.965 98.7448 22.4639 99.0102 21.7586C99.0671 21.6101 99.105 21.4616 99.1619 21.3132C99.2567 20.9791 99.5222 20.7749 99.8825 20.812C121.518 23.5218 141.22 6.61363 162.628 15.4668C163.121 15.6709 162.874 16.5247 162.343 16.3762C148.88 12.3487 137.503 15.4296 124.457 19.2716C122.428 19.8655 99.6739 23.5961 100.129 22.2783C99.9204 22.9093 98.7827 22.5567 98.9913 21.9256C100.527 17.1743 111.525 13.6479 116.114 13.7221C116.759 13.7221 116.872 14.6872 116.209 14.7244L116.19 14.6872Z" fill="#3A3A3A"/>
    <path d="M161.623 16.6546C146.472 16.5989 136.081 24.5983 125.443 34.0268C116.721 41.7849 109.022 42.2489 97.6451 43.511C96.9815 43.5852 96.697 42.5273 97.3797 42.3602C104.699 40.4671 111.98 41.4322 118.693 37.2934C123.661 34.231 127.34 29.6652 131.853 26.0645C140.139 19.4201 150.834 14.8172 161.661 15.9122C162.097 15.9493 162.078 16.6732 161.623 16.6732V16.6546Z" fill="#3A3A3A"/>
    <path d="M99.1051 41.3766C107.126 46.6848 118.2 41.9705 125.557 48.0582C125.917 48.3552 125.557 48.912 125.121 48.7264C116.38 45.0144 106.197 47.9468 98.176 42.4716C97.3986 41.952 98.3467 40.8755 99.1241 41.3766H99.1051Z" fill="#3A3A3A"/>
    <path d="M124.59 48.615C116.55 46.5177 110.027 50.3225 102.442 52.1228C96.5831 53.5148 90.117 53.9046 84.0871 54.2016C83.5751 54.2201 83.4803 53.5891 83.8975 53.3849C90.4773 50.0812 99.8635 51.1763 107.069 49.0604C113.175 47.2787 118.693 45.4227 124.874 47.7056C125.386 47.8912 125.121 48.7449 124.59 48.615Z" fill="#3A3A3A"/>
    <path d="M85.718 53.125C89.5483 54.9068 93.6062 55.3151 97.5503 56.6329C97.9296 56.7628 97.8158 57.431 97.4176 57.4124C93.3976 57.3567 88.7519 56.039 85.2629 54.0902C84.6561 53.7561 85.0923 52.791 85.737 53.1065L85.718 53.125Z" fill="#3A3A3A"/>
    <path d="M97.7016 58.2476C94.6297 57.9878 91.6527 57.7094 88.5618 57.9878C85.6606 58.2476 82.9301 59.0828 80.0858 59.6396C79.6307 59.7324 79.3653 59.0271 79.7824 58.8044C84.7884 56.1503 92.4491 55.7791 97.8533 57.4124C98.3842 57.5795 98.2704 58.2847 97.7016 58.2476Z" fill="#3A3A3A"/>
    <path d="M48.2111 12.7385C62.6412 10.6783 76.3697 -0.51338 91.2929 2.49334C91.8807 2.6047 91.729 3.45846 91.1222 3.40278C75.4975 1.91798 63.4756 13.5922 48.287 13.6479C47.6991 13.6479 47.6043 12.8313 48.1921 12.7385H48.2111Z" fill="#3A3A3A"/>
    <path d="M91.3494 3.32852C89.2826 4.25652 84.2387 8.54388 83.1199 8.09844C83.7267 8.33972 85.9642 7.07764 86.552 6.83636C92.3165 4.4978 99.0291 3.40276 105.173 2.56756C117.802 0.822915 132.27 0.247555 144.273 5.12884C144.766 5.333 144.5 6.1682 143.988 6.01972C132.687 2.69748 121.12 2.12212 109.42 3.30996C103.352 3.92244 97.3225 4.94324 91.4253 6.55796C89.3016 7.13332 84.9024 7.61588 83.2716 9.19349C82.9682 9.49045 82.3045 9.30485 82.4373 8.80373C83.2906 5.66708 88.3345 3.6626 91.084 2.58612C91.577 2.38196 91.8425 3.12436 91.3684 3.34708L91.3494 3.32852Z" fill="#3A3A3A"/>
    <path d="M144.234 6.01973C140.347 7.02197 136.46 8.78517 132.516 9.43477C132.08 9.50901 131.814 8.84085 132.213 8.63669C135.683 6.74357 140.101 5.68565 144.007 5.03605C144.576 4.94325 144.803 5.87125 144.234 6.01973Z" fill="#3A3A3A"/>
    <path d="M130.468 10.0287C153.678 3.40277 176.641 15.6338 199.699 17.4713C200.116 17.5084 200.097 18.2137 199.661 18.2137C175.92 17.8239 154.74 5.81557 130.639 10.7525C130.222 10.8453 130.051 10.1401 130.468 10.0287Z" fill="#3A3A3A"/>
    <path d="M198.846 18.6962C186.558 18.3993 176.565 24.8953 164.941 27.5123C154.209 29.9065 142.206 29.2383 133.426 36.6809C132.914 37.1078 132.137 36.2911 132.63 35.8086C139.76 28.8486 150.663 28.6073 160.011 27.0111C173.342 24.7283 185.06 17.0815 198.883 17.7682C199.414 17.7868 199.376 18.7148 198.846 18.6962Z" fill="#3A3A3A"/>
    <path d="M133.862 35.196C138.717 35.3816 144.576 36.124 148.88 38.444C149.316 38.6853 149.127 39.3349 148.615 39.2607C146.093 38.8895 143.628 37.9615 141.125 37.4232C138.717 36.9221 136.271 36.6251 133.824 36.3839C133.142 36.3096 133.18 35.1589 133.881 35.1775L133.862 35.196Z" fill="#3A3A3A"/>
    <path d="M148.956 38.7596C139.892 39.4092 135.436 47.7426 128.041 51.6588C121.006 55.3894 112.492 56.1689 104.642 56.5772C104.111 56.5958 103.864 55.7791 104.433 55.6492C114.919 53.2364 124.666 53.4777 133.331 46.0722C138.072 42.0076 142.225 37.7017 148.88 37.7017C149.563 37.7017 149.677 38.7039 148.975 38.741L148.956 38.7596Z" fill="#3A3A3A"/>
    <path d="M107.619 55.9462C109.799 57.4866 112.208 58.6745 114.369 60.2521C114.843 60.5862 114.445 61.3286 113.895 61.2358C96.7345 58.2476 80.6168 66.3026 63.7406 66.8409C63.2475 66.8409 62.9821 66.0985 63.532 65.95C74.4731 63.2402 86.1347 61.1244 97.3413 59.9366C97.4172 59.9366 111.885 59.0271 111.79 59.7695C111.79 59.621 107.41 57.3753 106.822 56.6329C106.424 56.1317 107.145 55.5935 107.619 55.9276V55.9462Z" fill="#3A3A3A"/>
    <path d="M49.519 14.1305C48.2485 14.3161 47.0729 14.6687 45.7834 14.7615C45.2525 14.7986 45.2146 14.0748 45.7076 13.982C46.9591 13.7221 48.1347 13.2767 49.4052 13.1097C50.0878 13.0169 50.1637 14.0377 49.5 14.1305H49.519Z" fill="#3A3A3A"/>
    <path d="M42.6358 12.2559C35.4302 14.1676 29.0211 16.5433 23.048 20.9977C22.6688 21.2761 22.1568 20.7378 22.4791 20.3852C27.4661 15.0213 35.4492 13.1839 42.3514 11.5135C42.8444 11.4021 43.1288 12.126 42.6358 12.2559Z" fill="#3A3A3A"/>
    <path d="M18.7631 25.6933C17.9287 26.1202 17.2271 26.6956 16.6393 27.438C16.0705 28.1432 15.7291 28.9784 15.2172 29.7208C14.9327 30.1292 14.3639 29.758 14.4018 29.3496C14.6294 27.3452 16.4686 25.582 18.2131 24.7282C18.782 24.4498 19.3129 25.4149 18.7441 25.7119L18.7631 25.6933Z" fill="#3A3A3A"/>
    <path d="M9.64202 47.0188C10.3247 51.4918 10.9504 56.1875 12.5622 60.4377C14.7239 66.1728 18.5352 69.031 23.8825 71.8336C24.3376 72.0749 24.148 72.8358 23.5981 72.7059C11.5951 69.7177 9.90747 57.2454 8.84559 47.0931C8.78871 46.5919 9.56618 46.5177 9.64202 47.0188Z" fill="#3A3A3A"/>
    <path d="M79.9721 67.6947C65.2197 70.1446 50.0501 77.9212 34.8425 75.9353C34.2737 75.8611 34.2926 74.9145 34.8804 74.9145C50.6379 75.2486 64.4043 67.342 79.8773 66.7667C80.4841 66.7481 80.56 67.5833 79.9721 67.6761V67.6947Z" fill="#3A3A3A"/>
    <path d="M34.9372 79.9814C32.7376 79.9814 30.3864 79.4432 28.2436 78.9977C27.7506 78.8864 27.7696 78.1811 28.2816 78.1254C30.4811 77.847 32.7945 78.775 34.9941 78.9606C35.582 79.0163 35.5441 80 34.9562 80L34.9372 79.9814Z" fill="#3A3A3A"/>
    <path d="M74.208 0.971401C65.4475 2.4562 58.0713 8.43253 49.1781 9.19349C48.723 9.23061 48.5144 8.50677 48.9885 8.39541C57.6541 6.37237 65.2769 1.30548 74.1132 0.00627876C74.7579 -0.0865214 74.8337 0.878601 74.208 0.971401Z" fill="#3A3A3A"/>
    <path d="M8.92135 34.0454C7.25269 41.6365 3.66885 47.8355 7.25268 55.5379C7.46126 56.0019 6.7976 56.2617 6.49421 55.9277C1.31757 49.7843 5.81155 40.2445 7.95426 33.7484C8.12492 33.2102 9.03512 33.5072 8.92135 34.0454Z" fill="#3A3A3A"/>
    <path d="M1.75359 44.4018C1.39331 45.534 1.12785 46.6847 1.10888 47.8725C1.10888 48.9119 1.33642 49.8956 1.3933 50.9164C1.41226 51.3989 0.767551 51.5289 0.558968 51.102C-0.44602 48.9305 0.0659829 46.2578 0.824465 44.1049C0.995123 43.6037 1.92424 43.8821 1.75359 44.4018Z" fill="#3A3A3A"/>
    <path d="M4.9774 58.1177C7.27181 64.5024 10.685 69.2352 16.639 72.7801C17.0941 73.0585 16.7907 73.6896 16.2788 73.504C9.71789 71.1097 6.03925 64.6323 4.12408 58.4147C3.95343 57.8764 4.78778 57.5609 4.9774 58.0991V58.1177Z" fill="#3A3A3A"/>
    <path d="M166.932 32.7462C161.794 32.8204 157.356 33.9526 152.388 35.0662C151.839 35.1961 151.573 34.5094 152.085 34.2495C156.427 32.1151 162.173 31.3356 166.97 31.7811C167.52 31.8367 167.501 32.7462 166.932 32.7462Z" fill="#3A3A3A"/>
  </svg>

  <svg
      v-if="name === 'star'"
      xmlns="http://www.w3.org/2000/svg"
      width="22"
      height="22"
      viewBox="0 0 22 22"
      fill="none"
  >
    <path
        d="M10.1531 1.3489C10.5451 0.724548 11.4549 0.724548 11.8469 1.3489L14.8281 6.09713C14.9651 6.31538 15.1811 6.4723 15.431 6.53517L20.8681 7.90317C21.583 8.08305 21.8642 8.94834 21.3915 9.51409L17.7969 13.8167C17.6317 14.0144 17.5492 14.2683 17.5666 14.5254L17.9457 20.1191C17.9956 20.8546 17.2595 21.3894 16.5754 21.1147L11.3726 19.0256C11.1335 18.9296 10.8665 18.9296 10.6274 19.0256L5.42461 21.1147C4.74048 21.3894 4.00443 20.8546 4.05428 20.1191L4.43338 14.5254C4.45081 14.2683 4.36831 14.0144 4.20309 13.8167L0.608493 9.51409C0.135833 8.94834 0.416983 8.08305 1.13191 7.90317L6.56899 6.53517C6.81889 6.4723 7.03488 6.31538 7.1719 6.09713L10.1531 1.3489Z"
        fill="#FF8D24"
    />
  </svg>

  <svg
      v-if="name === 'safe'"
      xmlns="http://www.w3.org/2000/svg"
      width="17"
      height="24"
      viewBox="0 0 17 24"
      fill="none"
  >
    <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16.3 16C16.3016 17.4047 15.9425 18.785 15.2589 20.0022C14.5754 21.2194 13.5913 22.2306 12.4058 22.934C11.2203 23.6374 9.87516 24.0082 8.50559 24.0092C7.13603 24.0102 5.7904 23.6413 4.60393 22.9397C3.41745 22.2381 2.43194 21.2284 1.74665 20.0122C1.06135 18.796 0.700392 17.4162 0.699997 16.0115C0.699603 14.6068 1.05977 13.2268 1.74439 12.0102C2.429 10.7936 3.41392 9.78334 4.6 9.08099V4C4.6 2.93913 5.01095 1.92172 5.74234 1.17157C6.47373 0.421424 7.46565 0 8.5 0C9.53434 0 10.5263 0.421424 11.2577 1.17157C11.989 1.92172 12.4 2.93913 12.4 4V9.07999C13.5851 9.78082 14.5695 10.7893 15.2541 12.004C15.9387 13.2188 16.2994 14.5969 16.3 16ZM4.6 9.08099L4.72675 9.00201H4.6V9.08099ZM8.5 2.00201C7.98283 2.00201 7.48686 2.21273 7.12117 2.5878C6.75547 2.96287 6.55 3.47158 6.55 4.00201V8.26199C7.82752 7.91132 9.17248 7.91132 10.45 8.26199V4C10.45 3.46957 10.2445 2.96086 9.87883 2.58578C9.51313 2.21071 9.01717 2 8.5 2V2.00201ZM12.4 9.00201H12.2732L12.4 9.08099V9V9.00201ZM8.5 9.98901C7.34058 9.98862 6.20714 10.3409 5.24294 11.0012C4.27873 11.6616 3.52706 12.6004 3.08311 13.6989C2.63915 14.7974 2.52283 16.0063 2.74878 17.1727C2.97474 18.339 3.53286 19.4104 4.35256 20.2514C5.17225 21.0924 6.21662 21.6652 7.35373 21.8973C8.49084 22.1295 9.66956 22.0105 10.7408 21.5555C11.812 21.1006 12.7276 20.33 13.3718 19.3413C14.016 18.3526 14.3598 17.1902 14.3598 16.001C14.3582 14.4072 13.7404 12.879 12.642 11.7516C11.5435 10.6242 10.054 9.98965 8.5 9.987V9.98901ZM8.5 18.002C8.24141 18.002 7.99337 17.8966 7.81052 17.7091C7.62768 17.5216 7.525 17.2672 7.525 17.002V15.002C7.525 14.7368 7.62768 14.4824 7.81052 14.2949C7.99337 14.1074 8.24141 14.002 8.5 14.002C8.75858 14.002 9.00662 14.1074 9.18947 14.2949C9.37232 14.4824 9.475 14.7368 9.475 15.002V17.002C9.47448 17.2669 9.37155 17.5207 9.18876 17.7078C9.00597 17.8949 8.75825 18 8.5 18V18.002Z"
        fill="#01C120"
    />
  </svg>

  <svg
      v-if="name === 'payPalBtn'"
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="14"
      viewBox="0 0 50 14"
      fill="none"
  >
    <path
        d="M6.00006 0.00195312H2.11098C1.84485 0.00195312 1.61852 0.195299 1.577 0.458021L0.00408279 10.4307C-0.0271937 10.6274 0.125207 10.8048 0.324808 10.8048H2.18149C2.44763 10.8048 2.67396 10.6115 2.71547 10.3482L3.13969 7.65843C3.18063 7.39514 3.40753 7.20179 3.67309 7.20179H4.90425C7.46607 7.20179 8.9446 5.96211 9.33072 3.50548C9.50473 2.43071 9.33811 1.58625 8.83485 0.994838C8.28211 0.345425 7.30173 0.00195312 6.00006 0.00195312ZM6.44874 3.64424C6.23606 5.03974 5.16981 5.03974 4.13883 5.03974H3.55197L3.96368 2.43356C3.98813 2.27604 4.12461 2.16003 4.28384 2.16003H4.55282C5.25511 2.16003 5.91761 2.16003 6.25994 2.56037C6.46409 2.79921 6.52664 3.15405 6.44874 3.64424Z"
        fill="#253B80"
    />
    <path
        d="M17.625 3.59788H15.7626C15.6039 3.59788 15.4669 3.71388 15.4424 3.8714L15.36 4.3923L15.2298 4.2035C14.8266 3.61835 13.9275 3.42273 13.0302 3.42273C10.9722 3.42273 9.21445 4.98143 8.87212 7.16794C8.69413 8.25864 8.94718 9.30156 9.56589 10.0289C10.1334 10.6976 10.9455 10.9763 11.9116 10.9763C13.5698 10.9763 14.4894 9.91003 14.4894 9.91003L14.4063 10.4275C14.3751 10.6254 14.5275 10.8028 14.7259 10.8028H16.4035C16.6702 10.8028 16.8954 10.6095 16.9375 10.3462L17.944 3.97206C17.9758 3.77587 17.824 3.59788 17.625 3.59788ZM15.029 7.22253C14.8493 8.2865 14.0049 9.00074 12.9278 9.00074C12.387 9.00074 11.9548 8.8273 11.6773 8.49861C11.4021 8.1722 11.2975 7.7076 11.385 7.19012C11.5528 6.13525 12.4115 5.39769 13.472 5.39769C14.0009 5.39769 14.4308 5.57341 14.714 5.90494C14.9978 6.23988 15.1103 6.70732 15.029 7.22253Z"
        fill="#253B80"
    />
    <path
        d="M27.5438 3.5979H25.6724C25.4938 3.5979 25.326 3.68661 25.2248 3.83503L22.6437 7.63711L21.5496 3.98345C21.4808 3.75485 21.2698 3.5979 21.0309 3.5979H19.1919C18.9684 3.5979 18.8132 3.81627 18.8842 4.02667L20.9456 10.0761L19.0076 12.8119C18.8552 13.0275 19.0088 13.3237 19.2721 13.3237H21.1413C21.3187 13.3237 21.4847 13.2373 21.5854 13.0917L27.81 4.10685C27.959 3.8919 27.806 3.5979 27.5438 3.5979Z"
        fill="#253B80"
    />
    <path
        d="M33.7404 0.000610352H29.8508C29.5852 0.000610352 29.3589 0.193956 29.3174 0.456678L27.7444 10.4293C27.7132 10.6261 27.8656 10.8035 28.064 10.8035H30.06C30.2454 10.8035 30.4041 10.6682 30.4331 10.4839L30.8795 7.65709C30.9204 7.3938 31.1473 7.20045 31.4129 7.20045H32.6435C35.2059 7.20045 36.6838 5.96077 37.0705 3.50414C37.2451 2.42937 37.0773 1.5849 36.5741 0.993496C36.0219 0.344083 35.0421 0.000610352 33.7404 0.000610352ZM34.1891 3.6429C33.977 5.03839 32.9107 5.03839 31.8792 5.03839H31.2929L31.7052 2.43221C31.7296 2.27469 31.865 2.15869 32.0248 2.15869H32.2937C32.9955 2.15869 33.6585 2.15869 34.0009 2.55902C34.205 2.79786 34.267 3.15271 34.1891 3.6429Z"
        fill="#179BD7"
    />
    <path
        d="M45.3644 3.59788H43.5031C43.3433 3.59788 43.2074 3.71388 43.1835 3.8714L43.1011 4.3923L42.9703 4.2035C42.5671 3.61835 41.6686 3.42273 40.7713 3.42273C38.7133 3.42273 36.9561 4.98143 36.6138 7.16794C36.4364 8.25864 36.6883 9.30156 37.307 10.0289C37.8756 10.6976 38.6866 10.9763 39.6527 10.9763C41.3109 10.9763 42.2305 9.91003 42.2305 9.91003L42.1474 10.4275C42.1162 10.6254 42.2686 10.8028 42.4682 10.8028H44.1452C44.4107 10.8028 44.637 10.6095 44.6786 10.3462L45.6857 3.97206C45.7164 3.77587 45.564 3.59788 45.3644 3.59788ZM42.7684 7.22253C42.5899 8.2865 41.7443 9.00074 40.6672 9.00074C40.1276 9.00074 39.6942 8.8273 39.4167 8.49861C39.1415 8.1722 39.038 7.7076 39.1244 7.19012C39.2933 6.13525 40.1509 5.39769 41.2114 5.39769C41.7403 5.39769 42.1702 5.57341 42.4534 5.90494C42.7383 6.23988 42.8509 6.70732 42.7684 7.22253Z"
        fill="#179BD7"
    />
    <path
        d="M47.5599 0.274095L45.9637 10.4293C45.9324 10.626 46.0848 10.8035 46.2833 10.8035H47.8881C48.1548 10.8035 48.3811 10.6101 48.422 10.3468L49.9961 0.374749C50.0274 0.177991 49.875 0 49.6765 0H47.8795C47.7209 0.000568663 47.5844 0.116576 47.5599 0.274095Z"
        fill="#179BD7"
    />
  </svg>

  <svg
      v-if="name === 'googlePayBtn'"
      xmlns="http://www.w3.org/2000/svg"
      width="25"
      height="24"
      viewBox="0 0 25 24"
      fill="none"
  >
    <path
        d="M24.4999 12.2733C24.5009 11.4556 24.4333 10.6393 24.2979 9.83337H13.2334V14.4549H19.5706C19.4409 15.193 19.1665 15.8966 18.7637 16.5233C18.361 17.15 17.8384 17.6868 17.2274 18.1014V21.1013H21.0095C23.224 19.013 24.4999 15.9248 24.4999 12.2733Z"
        fill="#4285F4"
    />
    <path
        d="M13.2318 23.9997C16.3979 23.9997 19.0638 22.9364 21.0079 21.1032L17.2257 18.1033C16.1731 18.8333 14.8173 19.2499 13.2318 19.2499C10.1715 19.2499 7.57405 17.14 6.64522 14.2968H2.74902V17.3883C3.72555 19.3757 5.22293 21.0464 7.07402 22.2139C8.9251 23.3813 11.057 23.9996 13.2318 23.9997Z"
        fill="#34A853"
    />
    <path
        d="M6.64551 14.2968C6.15447 12.8069 6.15447 11.1935 6.64551 9.70362V6.61206H2.74931C1.92783 8.28392 1.5 10.1291 1.5 12.0002C1.5 13.8713 1.92783 15.7165 2.74931 17.3883L6.64551 14.2968Z"
        fill="#FBBC04"
    />
    <path
        d="M13.2318 4.75037C14.9049 4.72241 16.5217 5.36898 17.7325 6.55031L21.0812 3.12543C18.9578 1.08563 16.1447 -0.034254 13.2318 0.000543143C11.057 0.000644515 8.9251 0.618945 7.07402 1.78642C5.22293 2.95389 3.72555 4.62458 2.74902 6.61197L6.64522 9.70353C7.57405 6.86029 10.1715 4.75037 13.2318 4.75037Z"
        fill="#EA4335"
    />
  </svg>

  <svg
      v-if="name === 'mastercard'"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="22"
      viewBox="0 0 32 22"
      fill="none"
  >
    <rect
        x="0.5"
        y="0.5"
        width="31"
        height="21"
        rx="3.5"
        fill="white"
    />
    <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16 16.0118C14.8379 17.0172 13.3305 17.6242 11.6834 17.6242C8.00802 17.6242 5.02856 14.6023 5.02856 10.8746C5.02856 7.14689 8.00802 4.125 11.6834 4.125C13.3305 4.125 14.8379 4.73196 16 5.73739C17.1621 4.73196 18.6695 4.125 20.3166 4.125C23.992 4.125 26.9714 7.14689 26.9714 10.8746C26.9714 14.6023 23.992 17.6242 20.3166 17.6242C18.6695 17.6242 17.1621 17.0172 16 16.0118Z"
        fill="#ED0006"
    />
    <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16 16.0118C17.4309 14.7738 18.3382 12.9317 18.3382 10.8746C18.3382 8.81752 17.4309 6.97538 16 5.73739C17.1621 4.73196 18.6695 4.125 20.3166 4.125C23.992 4.125 26.9714 7.14689 26.9714 10.8746C26.9714 14.6023 23.992 17.6242 20.3166 17.6242C18.6695 17.6242 17.1621 17.0172 16 16.0118Z"
        fill="#F9A000"
    />
    <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16 16.0118C17.4309 14.7738 18.3382 12.9317 18.3382 10.8746C18.3382 8.81755 17.4309 6.97542 16 5.73743C14.5692 6.97542 13.6619 8.81755 13.6619 10.8746C13.6619 12.9317 14.5692 14.7738 16 16.0118Z"
        fill="#FF5E00"
    />
    <rect
        x="0.5"
        y="0.5"
        width="31"
        height="21"
        rx="3.5"
        stroke="#F2F4F7"
    />
  </svg>
</template>

<script>
export default {
  props: {
    name: { type: String, default: '' }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style/_variables.scss";
@import "../../style/_mixins.scss";
.icon {
  @include respond-to($tablet) {
    display: none;
  }

  &-mobile {
    display: none;

    @include respond-to($tablet) {
      display: block;
    }
  }
}
</style>
