<template>
  <div class="logo-name">
    <h1 class="logo-name__left">
      {{ 'Planet' }}
    </h1>
    <h1 class="logo-name__right">
      {{ 'Learn' }}
    </h1>
  </div>
</template>

<script>
export default {
  name: "LogoName"
}
</script>

<style lang="scss" scoped>
@import "../../style/_variables.scss";
@import "../../style/_mixins.scss";

.logo-name {
  display: flex;
  align-items: center;

  &__left {
    font-size: 2.4rem;
    color: $col-text-alt;
    font-weight: 700;
    font-family: 'proxima_novabold', sans-serif;
  }
  &__right {
    font-size: 2.4rem;
    color: $col-text;
    font-weight: 700;
    font-family: 'proxima_novabold', sans-serif;
  }
}
</style>
